
@import "~fontsource-noto-sans-tc/index.css";
*
  text-align: center;
  font-size: 30px;
html
  height 100%
body
  height 100%
  font-family var(--font-family-sans-serif),"Noto Sans TC"
  margin: auto